.page {
    position: relative;
}

.title {
    text-align: center;
    font-family: Franklin Gothic Heavy, sans-serif;
    font-size: 64px;
    margin: 0px 0px 30px;
    padding: 0px 150px;
}

.carousel {
    text-align: center;
    width: 1200px;
    margin: 10px auto;
}

.slideImage {
    height: 500px;
}

.description {
    text-align: center;
    margin: 20px 0px;
    font-size: 1.25em;
}