.footerBox {
    background-color: #fca100;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerContainer {
    width: 800px;
        
    display: grid;
    align-items: start;
    grid-template-areas:
        'contact socials'
        'email linkedin'
        'phone github'
        'copyright copyright';
        ;
    column-gap: 50px;
}

.contactText {
    grid-area: contact;
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 20px 0px 15px;
}

.emailText {
    grid-area: email;
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 5px 0px;
}

.phoneText {
    grid-area: phone;
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 5px 0px;
}


.socialsText {
    grid-area: socials;
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 20px 0px 15px;
}

.linkedinText {
    grid-area: linkedin;
    text-align: center;
    font-size: 16px;
    background-color: transparent;
    padding: 5px 0px;
}

.githubText {
    grid-area: github;
    font-size: 16px;
    text-align: center;
    padding: 5px 0px;
}

.copyrightText {
    grid-area: copyright;
    font-size: 12px;
    text-align: center;
    color: rgb(255, 255, 255, 0.9);
    padding: 5px 0px 15px;
}