.page {
    position: relative;
}

.title {
    text-align: center;
    font-family: Franklin Gothic Heavy, sans-serif;
    padding: 30px 0px;

    background-color: #fca100;
}

.skillsTitle {
    text-align: center;
    font-family: Franklin Gothic Heavy, sans-serif;
    font-size: 56px;
    padding: 20px 20px 0px;
}

.introContainer {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    margin: auto;
    min-width: 800px;
    max-width: 1600px;
    min-height: 500px;
    max-height: 1000px;
    padding: 5px 20px;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
    margin: 50px auto;
    min-width: 1200px;
    max-width: 2000px;
}

.profile {
    float: left;
    margin: 20px 0px;
    width: 30vw;
    max-width: 650px;
}

.pageText {
    float: right;
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
    text-align: center;
    margin: 10px;
    margin-left: 3vw;
}

.techSkill {
    display: flex;
    height: 100px;
    align-items: center;
    margin: 0px 20px;
}

.techSkillIcon {
    float: left;
    height: inherit;
}

.techSkillName {
    margin: 0px 5px;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

@media (max-width: 1325px) {
    .profile {
        width: 395px;
    }
    .pageText {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .pageText {
        margin-left: 10px;
    }
}