.page {
    position: relative;
}

.skillsTitle {
    text-align: center;
    font-family: Franklin Gothic Heavy, sans-serif;
    font-size: 56px;
    padding: 20px 20px 0px;
}

.workSamplesTitle {
    text-align: center;
    font-family: Franklin Gothic Heavy, sans-serif;
    font-size: 64px;
    margin: 30px 20px 0px;
}

.introContainer {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    margin: auto;
    min-width: 800px;
    max-width: 1560px;
    min-height: 500px;
    max-height: 1000px;
    padding: 5px 20px;
}

.introTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 10px;
    margin-left: 3vw;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
    margin: 50px auto;
    min-width: 1200px;
    max-width: 2000px;
}

.workSamplesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    min-width: 1000px;
    max-width: 1500px;
}

.introGreeting {
    text-align: center;
    font-family: Franklin Gothic Heavy, sans-serif;
    font-size: 4em;

    padding-bottom: 10px;
}

.introDescription {
    float: right;
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
    text-align: center;
}

.profile {
    float: left;
    margin: 20px 0px;
    width: 30vw;
    min-width: 395px;
    max-width: 576px;
}

@media (min-width: 1920px) {
    .introDescription {
        font-size: 28.8px;
    }
    .introTextContainer {
        margin-left: 57.60px;
    }
}

@media (max-width: 1325px) {
    .introDescription {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .introTextContainer {
        margin-left: 10px;
    }
}