.page {
    position: relative;
}

.title {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 30px 0px;

    background-color: #fca100;
}

.introContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: 800px;
}

.profile {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 400px;
    height: 471px;
}

.pageText {
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 400px;
}